body{
  position: relative;
}
.close{
  position:fixed;
  width:0.3em;
  height:1.5em;
  background: #2C2C2C;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 22px;
}
.close:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:0.3em;
  height:1.5em;
  background: #2C2C2C;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.droid {
  position: relative;
  border-radius: 50% 50% 15% 15% /34% 34% 10% 10%;
  font-size: 16px;
  height: 2em;
  width: 1.49em;
  background: -webkit-linear-gradient(top, transparent 30%,#2C2C2C 30%, #2C2C2C 34%,transparent 34%,transparent 37.415%,#2C2C2C 37.415%), -webkit-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%),-webkit-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%);
  background: -moz-linear-gradient(top, transparent 30%,#2C2C2C 30%, #2C2C2C 34%,transparent 34%,transparent 37.415%,#2C2C2C 37.415%), -moz-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%),-moz-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%);
  background: -o-linear-gradient(top, transparent 30%,#2C2C2C 30%, #2C2C2C 34%,transparent 34%,transparent 37.415%,#2C2C2C 37.415%), -o-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%),-o-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%);
  background: -ms-linear-gradient(top, transparent 30%,#2C2C2C 30%, #2C2C2C 34%,transparent 34%,transparent 37.415%,#2C2C2C 37.415%), -ms-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%),-ms-radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%);
  background: linear-gradient(top, transparent 30%,#2C2C2C 30%, #2C2C2C 34%,transparent 34%,transparent 37.415%,#2C2C2C 37.415%), radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%),radial-gradient(center, ellipse cover, rgba(44, 44, 44, 0) 12%,#2C2C2C 14%);
  background-repeat: no-repeat;
  background-position: 0,2% 0,98% 0;
  background-size: 100% 100%, 55% 31.927%, 55% 31.927%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.droid::after {
  top: 0.7em;
  left: -0.408em;
  position: absolute;
  content: "";
  background: #2C2C2C;
  height: 1.02em;
  width: 0.3401em;
  border-radius: 50% 50% 50% 50% / 18% 18% 18% 18%;
  box-shadow: 1.96em 0 0 0 #2C2C2C,0.75em 0.8em 0 0 #2C2C2C,1.25em 0.8em 0 0 #2C2C2C;
}
.droid::before {
  top: -0.4em;
  left: 0.41em;
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  border: 0.07em solid #2C2C2C;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 0.01em;
}
